.nav-tabs .nav-link {
  color: #423d33;
  background-color: #bff87e;
  border-radius: 5px;
  padding: 10px 15px;
}

.nav-tabs .nav-link:hover {
  background-color: #5ba000;
  color: #fff;
}

.nav-tabs .nav-link.active {
  background-color: #f8ffed;
  color: #2c2c2c;
}
.no-border .list-group-item {
  border: none;          
  box-shadow: none;    
}